{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
<section id="couple-register" class="couple-dashboard-main-block">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="register-block">
					<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

