{{ form_start(form, {'attr':{'class': 'fos_user_change_password'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-pink" />
    </div>
{{ form_end(form) }}
