/web/bundles/
/web/uploads/
/var/
/app/config/parameters.yml
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/cms/
!/cms/cms.zip
!/cms/.htaccess
!/cms/plugins
!/cms/configuration
.idea/
*.cache
