/web/bundles/
/web/uploads/
/web/media/
/var/
/vendor/
/bin/
/composer.phar
/web/cms/
!/cms/cms.zip
!/cms/.htaccess
!/cms/plugins
!/cms/configuration
!/web/uploads/profiles/vendor_service/README.md
!/web/uploads/services/README.md
!/media/README.md
.idea/
*.cache
