<section id="pageCover" class="row">
	<div class="container">
		<div class="row">
			<h3>{{ title }}</h3>
			<div class="pageDirection row m0">
			{% if breadcrumbs is defined %}
				<ol class="breadcrumb fright m0">
					{% for r in breadcrumbs %}
					<li><a href="{{ url(r.route) }}">
						{{ r.title|capitalize }}
					</a></li>
					{% endfor %}
				</ol>
				{% endif %}
			</div>
		</div>
	</div>
</section>