<!-- footer -->
  <section id="footer" class="footer-main-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="about-widget footer-widget">
            <h4 class="footer-heading">About Fouras</h4>
            <div class="about-dtl">
              <p>Sed ut perspiciatis unde omnis iste natus error volup tatem.</p>
              <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam cor poris suscipit labo riosam.</p>
              <a href="#" class="btn btn-pink">Find A Vendor</a>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6">
          <div class="row">
            <div class="col-xs-6">
              <div class="links-widget footer-widget">
                <h4 class="footer-heading">Usefull Links}</h4>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 pad-0">
              <div class="links-widget footer-widget">
                <h4 class="footer-heading">Usefull Links</h4>
                <ul>
                  <li><a href="#">Venue</a></li>
                  <li><a href="#">Catering</a></li>
                  <li><a href="#">Cakes</a></li>
                  <li><a href="#">Dresses</a></li>
                  <li><a href="#">Transport</a></li>
                </ul>
                <ul>
                  <li><a href="#">Jewellery</a></li>
                  <li><a href="#">Music</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="subscribe-widget footer-widget">
            <h4 class="footer-heading">Subscribe Newsletter</h4>
            <form id="subscribe-form" class="subscribe-form">
              <div class="form-group"> 
                <input type="email" id="mc-email" class="form-control" placeholder="EMAIL ADDRESS">
                <button type="submit" class="btn btn-pink">Subscribe Now</button>
                <label for="mc-email"></label>
              </div>
            </form>
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://www.twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://www.pinterest.com/" class="pinterest" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>       
    </div>
    <div class="copyright-block text-center">
      <p>© 2017 All rights reserved.</p>
    </div>
  </section>
<!-- end footer -->