{% extends 'FrontBundle::Couple/layout.html.twig' %}

{% block body %}
  <section id="couple-dashboard" class="couple-dashboard-main-block">
    <div class="container">
    {% include 'FrontBundle::Couple/menu.html.twig' %}
      <div class="couple-dashboard-block">
        <h3 class="couple-dashboard-heading dashboard-heading">{% trans %}My Dashboard{% endtrans %}</h3>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="my-dashboard">
              <div class="background-image">
                <i class="flaticon-wedding-day"></i>
              </div>
              <div class="dashboard-date">
                <i class="flaticon-wedding-day"></i>
                <div class="dashboard-date-heading">Sat 20, April 2017</div>
              </div>
              <div class="facts-block dashboard-dtl">
                <h2 class="facts-number counter">540</h2>
                <div class="dashboard-text">{% trans %}Wedding Days To Go{% endtrans %}</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="my-dashboard">
              <div class="background-image">
                <i class="flaticon-honeymoon-luggage"></i>
              </div>
              <div class="dashboard-date">
                <i class="flaticon-honeymoon-luggage"></i>
                <div class="dashboard-date-heading">Spent $1200 Out Of $20,000</div>
              </div>
              <div class="facts-block dashboard-dtl">
                <h2 class="facts-number counter facts-doller">20,000</h2>
                <div class="dashboard-text">{% trans %}Your Budget{% endtrans %}</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="my-dashboard">
              <div class="background-image">
                <i class="flaticon-wedding-planning"></i>
              </div>
              <div class="dashboard-date">
                <i class="flaticon-wedding-planning"></i>
                <div class="dashboard-date-heading">Completed 3 of 79</div>
              </div>
              <div class="facts-block dashboard-dtl">
                <h2 class="facts-number counter">79</h2>
                <div class="dashboard-text">{% trans %}Checklist to do{% endtrans %}</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="my-dashboard">
              <div class="background-image">
                <i class="flaticon-heart-shaped-padlock"></i>
              </div>
              <div class="dashboard-date">
                <i class="flaticon-heart-shaped-padlock"></i>
                <div class="dashboard-date-heading">Compare And finalize</div>
              </div>
              <div class="facts-block dashboard-dtl">
                <h2 class="facts-number counter">8</h2>
                <div class="dashboard-text">{% trans %}wishlist{% endtrans %}</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="my-dashboard">
              <div class="background-image">
                <i class="flaticon-wedding-invitation"></i>
              </div>
              <div class="dashboard-date">
                <i class="flaticon-wedding-invitation"></i>
                <div class="dashboard-date-heading">Invited 90 Out Of 160 Guests</div>
              </div>
              <div class="facts-block dashboard-dtl">
                <h2 class="facts-number counter">160</h2>
                <div class="dashboard-text">Invited Guests</div>
              </div>
            </div>
          </div>            
        </div>
        <div class="row">          
          <div class="col-md-4 col-sm-6">
            <div class="my-progress-dashboard text-center">
              <h4 class="progress-bar-heading">Profile Completed</h4>
              <div class="progress-pie-chart" data-percent="68">
                <div class="ppc-progress">
                  <div class="ppc-progress-fill"></div>
                </div>
                <div class="ppc-percents">
                  <div class="pcc-percents-wrapper">
                    <span>%</span>
                    <div class="text">{% trans %}completed{% endtrans %}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block javascripts%}
{{ parent() }}
<script>
  $(function(){
    var $ppc = $('.progress-pie-chart'),
      percent = parseInt($ppc.data('percent')),
      deg = 360*percent/100;
    if (percent > 50) {
      $ppc.addClass('gt-50');
    }
    $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
    $('.ppc-percents span').html(percent+'%');
  });
</script>
{% endblock %}