<div class="clearfix">&nbsp;</div>
<form method="post" action="{{ path('subscription_plan_delete', {'id': subscription_plan.id}) }}" onsubmit="return confirm('Êtes vous sûre de vouloir supprimer ce pack ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subscription_plan.id) }}">
    <button class="btn">Supprimer</button>
</form>
