{% extends 'admin/layout.html.twig' %}

{% block headerTitle %}Créer un nouveau pack{% endblock %}

{% block body %}
<div class="container">
    {{ include('admin/subscription/plan/_form.html.twig') }}

    <a href="{{ path('subscription_plan_index') }}">Retour à la liste</a>
</div>
{% endblock %}
