<!-- page banner -->
  <section id="page-banner" class="page-banner" style="background-image: url('{{ asset('bundles/front/images/banner.jpg') }}');"> 
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="banner-dtl text-center">
        <h2 class="banner-heading">{{ title|trans }}</h2>
        <div class="breadcrumb-block">
          <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{% trans %}Home{% endtrans %}</a></li>
            <li class="active">{{ title|trans }}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
<!-- end page banner -->