<nav class="navbar navbar-default navbar-static-top m0">
  <div class="container-fluid">
    <div class="navbar-header">
      <button id="searchTrigger"><i class="fa fa-search"></i></button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav"> <i class="fa fa-bars"></i>Navigation </button>
      <a href="" class="navbar-brand"> <img src="{{ asset('images/logo.png') }}" alt="Architectura - Worldwide Foundation"> </a>
    </div>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="nav navbar-nav navbar-right m0">
        {% for item in items %}
        {% if item.children is defined and item.children is not empty %}
        <li class="dropdown {% if item.active is defined and item.active %}active{% endif %}"> <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ item.name }}</a>
          <ul class="dropdown-menu" role="menu">
            {% for child in item.children %}
            <li><a href="">{{ child.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="{% if item.active is defined and item.active %}active{% endif %}"> <a href="" class="dropdown-toggle">{{ item.name }}</a> </li>
        {% endif %}
        {% endfor %}
        <li class="hidden-xs"></li>
      </ul>
    </div>
  </div>
</nav>
