{% extends "FOSUserBundle::layout.html.twig" %}

{% block banner %}
{% if title is not defined %}
{% set title = 'Couple dashboard' %}
{% endif %}
{% include 'front/banner.html.twig' with {'title' : title} %}
{% endblock %}

{% block body %}
<section id="couple_profile" class="couple-profile-main-page">
  <div class="container">
    {{ render(controller('Infrastructure\\Controller\\Front\\User\\MenuController::index', {'_route': app.request.attributes.get('_route')})) }}
    <h3 class="description-heading">{% trans %}Change Password{% endtrans %}</h3>
    {% include 'front/user/password.form.html.twig' %}
  </div>
</section>
{% endblock %}
