{% extends 'front/layout.html.twig' %}

{% block banner %}
{% include 'front/banner.html.twig' with {'title' : status_text} %}
{% endblock %}

{% block body %}
<section class="main-container">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-4"><img src="{{ asset('assets/images/broken.png') }}" class="img img-responsive"/></div>
			<div class="col-md-8">
				<h2>{{ status_text }}</h2>
				<a href="{{ path('homepage') }}" class="btn btn-pink">{% trans %}Back To Home{% endtrans %}</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}